[Desktop Entry]
Name=IceMC
Name[pl]=IceMC
Comment=Graphical menu-editor for IceWM
Comment[pl]=Graficzny edytor menu dla IceWM
Icon=icemc.png
Exec=icemc
Terminal=false
Type=Application

# vi: encoding=utf-8
